

#============
    Common
#============
.idea/
.DS_Store


#============
    Claude
#============
.claude/
CLAUDE.md
.mcp.json
plan.md

#============
    Front
#============
frontend/node_modules/
frontend/.idea/
frontend/.DS_Store


#============
    Back
#============
backend/target
backend/.gradle
backend/build
backend/.idea/
backend/.DS_Store