

#============
    Common
#============
.idea/
.DS_Store
.env
init.sql


#============
    Claude
#============
.claude/
CLAUDE.md
.mcp.json
plan.md

#============
    Front
#============
frontend/node_modules/
frontend/.idea/
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.*.local


#============
    Back
#============
backend/target
backend/.gradle
backend/build
backend/.idea/
backend/.DS_Store